---
import { Image } from 'astro:assets';
import JEAN from '../assets/profesionales/jean.webp';
import JERO_ALASINO from '../assets/profesionales/jeroalasino.webp';
import TOMI_GORDILLO from '../assets/profesionales/tomigordillo.webp';
import VALENTIN_FERNANDEZ from '../assets/profesionales/valentinfernandez.webp';
import ELIAS_WAGNER from '../assets/profesionales/eliaswagner.webp';
import FERNANDO_LOPEZ from '../assets/profesionales/fernandolopez.webp';

const professionals = [
    { name: 'JEAN', img: JEAN },
    { name: 'JERO ALASINO', img: JERO_ALASINO },
    { name: 'TOMI GORDILLO', img: TOMI_GORDILLO },
    { name: 'VALENTIN FERNÁNDEZ', img: VALENTIN_FERNANDEZ },
    { name: 'ELIAS WAGNER', img: ELIAS_WAGNER },
    { name: 'FERNANDO LOPEZ', img: FERNANDO_LOPEZ }
];
---

<section class="professionals-section" id="profesionales" style="display:none;">
    <div class="container">
        <button class="back-btn">Volver</button>
        <div class="professionals-grid">
            <h2>SELECCIONA UN PROFESIONAL</h2>
            <ul class="professionals-list">
                {professionals.map((p) => (
                    <button class="professional-item next-step" data-name={p.name}>
                        <h3>{p.name}</h3>
                        <Image class="professionals-img" src={p.img} alt={p.name} />
                    </button>
                ))}
            </ul>
        </div>
    </div>
</section>

<style>
    button {
        border: none;
        cursor: pointer;
    }

    .professionals-section {
        background-color: var(--color-bg);
        padding: 40px 0;
    }

    .professionals-grid {
        background-color: var(--color-white);
        border-radius: 8px;
        box-shadow: 0 1px 3px var(--color-shadow);
        padding: 24px;
    }

    .professionals-grid h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-text);
        margin-bottom: 16px;
    }

    .professionals-grid h3 {
        font-size: 1.1rem;
        color: var(--color-text);
        font-weight: 500;
        text-align: left;
        padding-left: 8px;
    }

    .professionals-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .professional-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        background-color: var(--color-white);
        transition: all 0.2s ease;
        border-left: 2px solid var(--color-text-light);
        border-radius: 0px 8px 8px 0px;
    }

    .professional-item:hover {
        box-shadow: 0 4px 6px var(--color-shadow);
        background-color: var(--color-text-light);
        border-left: 2px solid var(--color-text);
    }

    .professional-item:hover h3 {
        color: var(--color-white);
    }

    .professionals-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid var(--color-primary);
    }

    .back-btn {
        font-size: 0.9rem;
        background-color: var(--color-accent);
        color: var(--color-white);
        padding: 8px 16px;
        border-radius: 8px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        position: absolute;
        left: -80px;
        top: 24px;
    }

    .back-btn:hover {
        background-color: var(--color-primary-lighter);
    }
</style>